<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/css/materialize.min.css">
  <link rel="stylesheet" href="/static/styles.css">
  <title>Zeke Caller</title>
</head>
<body>
  <h1><i class="mdi-action-alarm"></i>Zekes!</h1>
  <p id="demo"></p>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.96.1/js/materialize.min.js"></script>
  <script src="/static/myjs.js"></script>
</body>
</html>